//--------------------------------------------------
// VARIABLES
//--------------------------------------------------

// Typography
// ----------

// Override default Bootstrap variables to avoid breaking paths
@icon-font-path:				"lib/bootstrap/fonts/";

// Core navbar
// Reset Core navbar basics
@navbar-core-color:                      @gray-light;
@navbar-core-bg:                         #222;
@navbar-core-border:                     darken(@navbar-core-bg, 10%);

// Core navbar links
@navbar-core-link-color:                 @gray-light;
@navbar-core-link-hover-color:           #fff;
@navbar-core-link-hover-bg:              transparent;
@navbar-core-link-active-color:          @navbar-core-link-hover-color;
@navbar-core-link-active-bg:             darken(@navbar-core-bg, 10%);
@navbar-core-link-disabled-color:        #444;
@navbar-core-link-disabled-bg:           transparent;

// Core navbar brand label
@navbar-core-brand-color:                @navbar-core-link-color;
@navbar-core-brand-hover-color:          #fff;
@navbar-core-brand-hover-bg:             transparent;

// Core navbar toggle
@navbar-core-toggle-hover-bg:            #333;
@navbar-core-toggle-icon-bar-bg:         #fff;
@navbar-core-toggle-border-color:        #333;
